# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
infile = os.path.join("Output", "city_weather_data.csv")

print(infile)
city_data = pd.read_csv(infile)
city_data.dtypes

Output\city_weather_data.csv

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

# Create a variable for lat, long
city_locations = city_data[["Lat", "Lng"]]

# Create a variable for humidity'
city_humidity = city_data["Humidity"]

# Create the  figure
fig = gmaps.figure()

# Create the heatmap layer for city locations and humidity
heat_layer = gmaps.heatmap_layer(city_locations, weights=city_humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=0.9)
# Add heatmap layer to figure
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
city_data_filtered = city_data.loc[(city_data['Max Temp'].between(70, 80)) & (city_data['Wind Speed'] < 5) & (city_data['Cloudiness'] < 5)].copy()  
city_data_clean = city_data_filtered.dropna()
city_data_clean

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,Lusambo,-4.97,23.45,74.88,60,3,2.28,CD,1599947179
15,Íos,36.73,25.28,73.40,83,0,1.12,GR,1599947182
23,Lagoa,39.05,-27.98,71.02,71,1,3.83,PT,1599947184
106,Ladispoli,41.95,12.07,77.00,78,0,3.36,IT,1599947205
170,Abhā,18.22,42.51,71.60,16,2,4.92,SA,1599947221
194,Mitsamiouli,-11.38,43.28,77.56,77,0,4.97,KM,1599947227
210,Unaí,-16.36,-46.91,76.53,28,0,2.95,BR,1599946952
320,Agde,43.31,3.48,73.00,52,0,2.24,FR,1599947260
355,Albion,42.24,-84.75,77.00,73,1,3.36,US,1599947117
378,Abnūb,27.27,31.15,79.38,30,0,3.09,EG,1599947275
393,Jaca,42.57,-0.55,72.00,54,0,1.01,ES,1599947278
440,Marsá Maţrūḩ,31.35,27.25,75.72,79,0,2.80,EG,1599947125
602,Huesca,42.14,-0.41,72.00,55,0,3.36,ES,1599947332

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = city_data_clean
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lusambo,-4.97,23.45,74.88,60,3,2.28,CD,1599947179
1,Íos,36.73,25.28,73.40,83,0,1.12,GR,1599947182
2,Lagoa,39.05,-27.98,71.02,71,1,3.83,PT,1599947184
3,Ladispoli,41.95,12.07,77.00,78,0,3.36,IT,1599947205
4,Abhā,18.22,42.51,71.60,16,2,4.92,SA,1599947221
5,Mitsamiouli,-11.38,43.28,77.56,77,0,4.97,KM,1599947227
6,Unaí,-16.36,-46.91,76.53,28,0,2.95,BR,1599946952
7,Agde,43.31,3.48,73.00,52,0,2.24,FR,1599947260
8,Albion,42.24,-84.75,77.00,73,1,3.36,US,1599947117
9,Abnūb,27.27,31.15,79.38,30,0,3.09,EG,1599947275
10,Jaca,42.57,-0.55,72.00,54,0,1.01,ES,1599947278
11,Marsá Maţrūḩ,31.35,27.25,75.72,79,0,2.80,EG,1599947125
12,Huesca,42.14,-0.41,72.00,55,0,3.36,ES,1599947332

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure